<div class="row">
    <div class="large-12 columns">
      <ul class="button-group">
        <li>
          <%= link_to "Home", homes_path, :class => "button" %>
        </li>
        <li>
          <%= link_to "Foundation Info", foundation_info_homes_path, :class => "button" %>
        </li>
         <li>
          <%= link_to "Contact Us", contact_homes_path, :class => "button" %>
        </li>
        <li>
          <%= link_to "About Us", about_homes_path, :class => "button" %>
        </li>
        
      </ul>
    </div>
  </div>